<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfficeChat</title>
</head>
<body>

        

    <body>
        <a href="/logout">Logout</a>
        <h2><span id="ws-id">{{user}}</span></h2>


            msg:<input type="text" id="messageText" autocomplete="off"/>
            to:<input type="text" id="to" value="admin" autocomplete="off"/>
            <button onclick="sendMessage(event)">Send</button>

        <ul id='messages'>
        </ul>
        <script>
            const  client_id = '{{user}}';
            var ws = new WebSocket(`ws://127.0.0.1:8000/chats/`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                // var content = document.createTextNode(event.data)
                let data = JSON.parse(event.data)

                /// data preparation
                var div = document.createElement('div');
                var from_head = document.createTextNode(data.from_);
                var msg = document.createTextNode(data.content);
                var time = document.createTextNode(data.at);
                let span_div = document.createElement('div');
                let span = document.createElement('span');
                
                span.innerText = data.from_ + ' ';     
                span_div.appendChild(span);
                span = document.createElement('span');                
                span.innerText = new Date(data.at).toLocaleTimeString();
                span_div.appendChild(span);

                let msg_div = document.createElement('div');
                msg_div.innerText = data.content;

                div.appendChild(span_div);
                div.appendChild(msg_div);                            
                
                message.appendChild(div)
                messages.appendChild(message)
            };
            
            function sendMessage(event) {
                var msg = document.getElementById("messageText");
                var to_per = document.getElementById("to");
                let msgobject  ={content:msg.value,from_:client_id,to:to_per.value };
                console.log(JSON.stringify(msgobject));
              
                ws.send(JSON.stringify(msgobject));
                // event.preventDefault()
            }
        </script>
    
</body>
</html>